
  <!-- <h1> {{ title }} </h1>
  
   <img style="width:100px;" src="{{ imageUrl }}" />

   <span [(ngModel)]="isFavourite" > Favourite </span>

   <coursesa></coursesa>   
   <author></author>
   <message></message>
-->
   <i class="glyphicon glyphicon-star"></i>
   <favourite [isFavourite]="post.isFavourite" (change)="onFavouriteChange($event)"></favourite> 

   <!-- <favourite [class.isFavourite]="post.isFavourite" [style.backgroundColor] = "post.isFavourite ? 'blue': 'red'"(click)="onClick()"></favourite>-->
        

